.dk-panel {
  margin: 20px auto;
  margin-top: 0;
}

div.container{
  padding-top: 0;
}

.message-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 50px;
}

.message-center p {
  font-size: 12px;
}

.center-tab {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.tab {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  border-radius: 5px 5px 0 0;
  height: max-content;
  padding: 5px;
  padding-right: 20px;
  min-width: 280px;
  max-width: 500px;
  margin: 0 auto;
  width: 90%;
  overflow-x: scroll;
  padding: 15px;
  border-width: 0 3px 0 3px;
  border-style: double;
  border-color: #666;
}

@media all and (max-width: 520px) {
}
.addImage {
  cursor: pointer;
}

/* Style the buttons inside the tab */
.tab button,
.tab label {
  background-color: inherit;
  border: 1px solid #ccc;
  color: #121212a7;
  outline: none;
  /* cursor: pointer; */
  padding: 5px;
  transition: 0.3s;
  font-size: 14px;
  border-radius: 3px;
  min-width: 70px !important;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.contentBtn {
  background-color: inherit;
  border: 1px solid #ccc;
  color: #121212a7;
  outline: none;
  cursor: pointer;
  padding: 5px;
  transition: 0.3s;
  font-size: 14px;
  border-radius: 3px;
  width: 50px !important;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.contentBtn p.text {
  margin-top: 5px;
  font-family: 'Inconsolata';
  font-size: 12px;
}

.tab button p.text,
.tab label p.text {
  margin-top: 5px;
  font-family: 'Inconsolata';
  font-size: 12px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: #4267b2;
  border-color: #4267b2;
  -webkit-animation: neon 1.5s ease-in-out infinite alternate;
  -moz-animation: neon 1.5s ease-in-out infinite alternate;
  animation: neon 1.5s ease-in-out infinite alternate;
}

/* Create an active/current tablink class */
.tab button.active {
  color: #4267b2;
  border-color: #4267b2;
  -webkit-animation: neon 1.5s ease-in-out infinite alternate;
  -moz-animation: neon 1.5s ease-in-out infinite alternate;
  animation: neon 1.5s ease-in-out infinite alternate;
}

.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/* Style the tab content */
.tabcontent {
  padding: 6px 12px;
  border-top: none;
  transition: 0.6s ease all;
  animation: 0.9s fadeIn forwards;
  padding: 10px 20px;
  background-color: rgba(204, 204, 204, 0.122);
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}

.aspectBtn {
  position: relative;
}

.aspectBtn p {
  position: absolute;
  font-size: 10px;
  bottom: 18px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
}

.aspectBtn:hover,
.aspectBtn:active {
  color: #4267b2;
  border-color: #4267b2;
}

#color,
#text {
  overflow: visible;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media all and (max-width: 520px) {
  .tabcontent {
    overflow-x: scroll;
  }
}

/* ===COLOR PICKER/// */

.color-wrapper {
  position: relative;
  z-index: 20;
  height: 29px;
  width: max-content;
}

input.call-picker,
input.call-textPicker {
  border: 1px solid #aaa;
  color: #666;
  text-transform: uppercase;
  outline: none;
  padding: 5px;
  height: 29px;
  text-transform: uppercase;
  width: 70px;
}

.color-picker {
  width: 130px;
  background: #f3f3f3;
  min-height: max-content;
  padding: 5px;
  border: 5px solid #fff;
  box-shadow: 0px 0px 3px 1px #ddd;
  position: absolute;
  top: 20px;
  left: 2px;
  z-index: 50000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.color-holder,
.textColor-holder {
  background: #0066ff;
  cursor: pointer;
  border: 1px solid #aaa;
  min-width: 29px;
  min-height: 29px;
  margin-left: 5px;
  border-radius: 3px;

  z-index: 2000;
}

.color-item {
  cursor: pointer;
  width: 10px;
  height: 10px;
  list-style-type: none;
  margin: 2px;
  border: 1px solid #ddd;
}

.color-item {
  z-index: 10000;
}

.color-picker .color-item:hover {
  border: 1px solid #666;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=8);
}

.caption {
  width: 90px;
}

.caption::placeholder {
  font-family: 'Inconsolata';
  font-size: 12px;
}

.collapse {
  display: none;
}

.seperator {
  margin: 50px 0;
}

/* TITLE==== */
.title-holder {
  display: flex;
  flex-direction: column;
}

.start {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background: transparent;
  border: none;
  outline: none;
  margin-top: 30px;
  color: #228dff;
  cursor: pointer;
}

.start img {
  margin-left: 5px;
}

.main-title{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title .main-title p{
  font-size: 70px;
  background: -webkit-linear-gradient(
    #3773eb,
    #477deb,
    #5687eb,
    #6591ea,
    #739be9,
    #6ca7f0,
    #69b3f5,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 6px;
  font-weight: 700;
  margin-bottom: 5px;
  transition: 0.3s ease all;

}

.title .main-title p:nth-child(1) {
  animation: 0.9s bounceInDown  1;
  transform: rotate(-6deg);
}


.title .main-title p:nth-child(2) {
  animation: 0.9s bounceInDown  1;
  transform: rotate(3deg);
  animation-delay: 0.2s;
}

.title .main-title p:nth-child(3) {
  animation: 0.9s bounceInDown  1;
  transform: translateY(-6px);
  animation-delay: 0.4s;
}

.title .main-title p:nth-child(4) {
  animation: 0.9s bounceInDown  1;
  transform: rotate(7deg);
  animation-delay: 0.6s;
}

.title .main-title p:nth-child(5) {
  animation: 0.9s bounceInDown  1;
  transform: rotate(-7deg);
  animation-delay: 0.7s;
}

.title .sub-title {
  font-size: 20px;
  background: -webkit-linear-gradient(#aaa, #6ca7f0, #52cffe, #666, #ccc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 5px;
  transition: 0.3s ease all;
  animation: 0.9s bounceInLeft 1 forwards;
  animation-delay: 1.6s;
  visibility: hidden;
}

@keyframes neon {
  from {
    box-shadow: 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #fff, 0 0 5px #228dff,
      0 0 6px #228dff, 0 0 7px #228dff, 0 0 8px #228dff, 0 0 9px #228dff;
  }
  to {
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #228dff,
      0 0 5px #228dff, 0 0 6px #228dff, 0 0 7px #228dff, 0 0 8px #228dff;
  }
}

@keyframes moving {
  from {
    transform: translateX(-20px);
  }

  50% {
    transform: translateX(20px);
  }

  to {
    transform: translateX(-20px);
  }
}

.moving {
  transition: 0.4s ease all;
  animation: 1.8s moving infinite;
}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    visibility: visible;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0) scaleX(3);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0) scaleX(1);
  }

  75% {
    transform: translate3d(-10px, 0, 0) scaleX(0.98);
  }

  90% {
    transform: translate3d(5px, 0, 0) scaleX(0.995);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0) scaleY(3);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0) scaleY(0.9);
  }

  75% {
    transform: translate3d(0, -10px, 0) scaleY(0.95);
  }

  90% {
    transform: translate3d(0, 5px, 0) scaleY(0.985);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
