* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  text-decoration: none;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: 'Maven Pro', sans-serif;
  background-color: rgba(255, 255, 255, 0.7);
}

.overlay {
  /* background-color: rgba(0, 0, 0, 0.282); */
  width: 100%;
  min-height: 100vh;
}
.btn {
  box-shadow: 0px 1px 0px 0px #f5f9fa8e;
  background-color: #4267b2;
  border-radius: 3px;
  border: none;
  min-width: max-content;
  min-height: 35px;
  padding: 7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  text-shadow: 0px -1px 0px #5b6178;
  font-family: 'Inconsolata', monospace;
  outline: none;
}
.btn:hover {
  background: linear-gradient(to bottom, #4267b2 5%, #4267b2 100%);
  background-color: #4267b2;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  padding: 50px;
}

.controls__card {
  color: #000;
  min-width: max-content;
  padding: 20px 30px;
  min-height: 350px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.594);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2),
    -3px -3px 6px rgba(255, 255, 255, 0.3),
    inset 2px 2px 5px rgba(255, 255, 255, 0.3),
    inset -2px -2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.custom.controls .controls__card {
  min-width: 130px;
  min-height: 160px;
  padding: 10px;
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
  align-items: center;
}

.color label,
#ratio,
.border, #stroke {
  /* min-width: 100%; */
  /* max-width: max-content; */
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed rgba(0, 0, 0, 0.418);
  border-radius: 3px;
  padding: 3px;
  margin-right: 5px;
  cursor: pointer;
}

.border {
  justify-content: space-between; 
}

select{
  font-size: 14px;
  padding: 2px !important;
}

label img {
  padding-left: 3px;
} 

#canvasColor,
#border,
#borderColor {
  display: none;
}

.border label {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
}

.check_border {
  max-width: 30px;
  min-height: 15px;
  border: 1px solid #4267b254;
  border-radius: 3px;
  position: relative;
  display: flex;
  align-items: center;
}

.ballpoint {
  max-width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #5b6178;
  position: absolute;
  transition: 0.3s ease all;
}

.border-btn {
  max-width: 48%;
  max-height: max-content;
  min-height: max-content;
  padding: 3px;
  font-size: 12px;
}

#border:checked ~ label .check_border .ballpoint {
  right: 0;
  background-color: #3773eb;
}

#file {
  display: none;
}

.overlayResult2 {
  margin-top: 30px;
  padding: 20px 10px;
  height: max-content;
  width: 100%;
}

.options {
  padding: 5px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.18),
    -3px -3px 6px rgba(255, 255, 255, 0.2), 2px 2px 5px rgba(255, 255, 255, 0.2),
    inset -2px -2px 5px rgba(0, 0, 0, 0.18);
  font-size: 14px;
}

button.toggle {
  min-width: max-content;
  background-color: #fff;
  border: 1.8px solid #4267b2;
  max-width: 80%;
  border-radius: 3px;
  color: #4267b2;
  font-size: 16px;
  padding: 5px;
  margin: 5px;
  min-height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
  outline: none;
}

#imageSize {
  background-color: #fff;
  border: 1.8px solid #4267b2;
  font-family: 'Inconsolata', monospace;
  border-radius: 3px;
  padding: 5px;
  outline: none;
}

.upload {
  padding: 7px;
  border-radius: 3px;
  width: 100%;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.18),
    -3px -3px 6px rgba(255, 255, 255, 0.2), 2px 2px 5px rgba(255, 255, 255, 0.2),
    inset -2px -2px 5px rgba(0, 0, 0, 0.18);
  font-size: 14px;
}

i.file-icon {
  width: 15px;
  color: #4267b2;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

i.save,
i.col-style {
  width: 12px;
  color: #fff;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

i.col-style {
  color: #4267b2;
}

.upload label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.buttons button:first-child {
  margin-right: 5px;
}

.collage-frame {
  min-width: 315px;
  flex-basis: 100%;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2),
    -3px -3px 6px rgba(255, 255, 255, 0.3),
    inset 2px 2px 5px rgba(255, 255, 255, 0.3),
    inset -2px -2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media all and (max-width: 1250px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 5%;
  }

  .collage-frame {
    margin-top: 50px;
  }

  .controls__card {
    flex-direction: row;
    margin-bottom: 20px;
    min-height: max-content;
    max-width: max-content;
    justify-content: space-between;
    min-width: 300px;
    padding: 10px;
  }

  .custom.controls .controls__card{
    min-height: fit-content;
    flex-wrap: wrap;
  }

  .controls__card div {
    margin-left: 5px;
  }

  .controls__card div:first-child {
    margin-left: 0px;
  }

  .buttons {
    flex-direction: column;
    justify-content: space-between;
  }

  .buttons button:first-child {
    margin-bottom: 10px;
  }
}

@media all and (min-width: 1024px) {
  .controls__card {
    min-width: 400px;
  }

  .controls__card div {
    width: 70%;
  }

  .collage-frame {
    max-width: 400px;
    min-height: 380px;
  }
}

@keyframes button {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(0.8, 0.8, 0.8);
  }
  to {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.05, 1.05, 1.05);
    transform: translateY(-1.5px);
  }
}
button {
  transition: 0.6s ease all;
}
button:focus {
  animation: 0.4s button ease;
}
